{% extends 'base.html' %}
{% block content %}

    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1 class="text-white">About Us</h1>
                    </div>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <div class="main_content position-relative" id="bambocraft">

        <!-- START SECTION SHOP -->
        <div class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="heading_s1">
                            <h2>About Us</h2>
                        </div>
                        <p>M.P. State Co-operative Union Limited Bhopal (Union) is a state level apex co-operative
                            organization registered under M.P. Co-operative Societies Act dated 25-3-1958 and its
                            registration number is 4. Its registered head office is located at E-8/77, Shahpura,
                            Trilanga, Bhopal. The entire state of Madhya Pradesh is covered in the operational area of
                            the Union.</p>
                        <p>M.P. State Co-operative Union Limited ,Bhopal is a representative Institution of Co-operative
                            movement in the state. It has total of 167 different types of co-operative societies of the
                            state as its members, details of which are as follows:-</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="about_img scene mb-4 mb-lg-0">
                            <img src="/static/assets/images/about-us-1.jpg" alt="about_img">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li>Apex Co-operative Organizations of the State – 18</li>
                            <li>District Central Co-operative Banks of the State – 38</li>
                            <li>District Co-operative Agriculture and Rural Development Banks – 38</li>
                            <li>District Co-operative Unions – 38</li>
                            <li>Other Co-operative Institutions – 35</li>
                        </ul>
                        <p>
                            All these members constitute an annual general body (AGM) of the M.P. State Co-operative
                            Union Limited Bhopal which is the supreme authority of the Union under the Act. The M.P.
                            State Co-operative Union has an elected Board of Directors whose term is for five years. The
                            Board of Directors is elected by the representatives of the member co-operative institutions
                            of the Union after every five years. They look after all the policy matters of the Union and
                            consists of one Chairman, one Vice Chairman and 17 other directors.
                        </p>
                        <p>
                            As far as day to day functioning of the Union is concerned it has certain categories of
                            executive officers and non-executive staff, who are mainly as under:-
                        </p>
                        <ul>
                            <li>Managing Director</li>
                            <li>State Co-operative Education Officer.</li>
                            <li>Accounts Officer.</li>
                            <li>Principals of Co-operative Training Centres.</li>
                            <li>Manager, Lecturers, Computer Instructors and Instructors.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section bg_light_blue2 small_pt pb_70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <span class="mv-icon"><i class="ti-target"></i></span>
                            <div class="card-body">
                                <h5 class="card-title">मिशन</h5>
                                <p class="card-text">हमारा मिशन गुणवत्तापूर्ण शिक्षा , प्रशिक्षण , सूचना शोध परामर्श एवं
                                    मानव संसाधन विकाश के माध्यम से सहकारी संस्थाओं और सम्बंद्द समुदायों को सशक्त बनाना
                                    हैं |</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center">
                            <span class="mv-icon"><i class="ti-eye"></i></span>
                            <div class="card-body ">
                                <h5 class="card-title">विजन</h5>
                                <p class="card-text">हमारा विजन सहकारी व अन्य सम्बन्धित सेक्टरों मैं कार्यरत मानव संसाधन
                                    के गुणवत्तापूर्ण विकास के सर्वमान्य लीडर के रूप में स्वंय को स्थापित करना हैं |</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION SHOP -->


    </div>

{% endblock %}


