{% extends 'base.html' %}
{% block content %}

    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1 class="text-white">Blog</h1>
                    </div>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <div class="main_content position-relative" id="bambocraft">

        <!-- START SECTION SHOP -->
        <div class="section small_pt pb_70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="heading_s1 text-center">
                            <h2>Our Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="/blog-detail">
                                    <img src="/static/assets/images/Blog03.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-detail.html">Deciphering Symbolism in
                                            Traditional Product Designs</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> April 14, 2024</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10</a></li>
                                    </ul>
                                    <p>Traditional products transcend mere functionality; they are repositories of
                                        cultural and historical narratives, encapsulating...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="/blog-detail">
                                    <img src="/static/assets/images/blog02.jpg" alt="blog_small_img2">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="/blog-detail"> Unveiling the Impact of Fairs on
                                            Handmade Creations</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> April 14, 2024</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 12</a></li>
                                    </ul>
                                    <p>In an era dominated by mass production and global markets, the intrinsic value of
                                        craftsmanship can be easily overlooked. Nonetheless...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="/blog-detail">
                                    <img src="/static/assets/images/blog01.jpg" alt="blog_small_img3">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="/blog-detail">In-depth Knowledge on Various
                                            Techniques for Unique Clay Crafts</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> April 14, 2024</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 14</a></li>
                                    </ul>
                                    <p>For centuries, clay, an ancient and versatile material, has served as a canvas
                                        for artistic expression. Today, the craft of shaping... </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION SHOP -->


    </div>

{% endblock %}