{% extends 'base.html' %}
{% block content %}

    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1 class="text-white">Forgot Password</h1>
                    </div>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <div class="main_content position-relative" id="bambocraft">

        <!-- START SECTION SHOP -->
        <div class="login_register_wrap section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="heading_s1 text-center">
                            <h2>Forgot Password</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-10">
                        <div class="login_wrap">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3></h3>
                                </div>
                                <form method="post">
                                    <div class="form-group mb-3"> <input type="text" required="" class="form-control"
                                            name="email" placeholder="Your Email"> </div>
                                    <div class="form-group mb-3"> <button type="submit"
                                            class="btn btn-fill-out btn-block" name="login">Send</button> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION SHOP -->


    </div>


{% endblock %}