{% extends 'base.html' %}
{% block content %}

	<div class="breadcrumb_section bg_gray page-title-mini">
		<div class="container"><!-- STRART CONTAINER -->
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="page-title">
						<h1 class="text-white">Forum</h1>
					</div>
				</div>
			</div>
		</div><!-- END CONTAINER-->
	</div>
	<div class="main_content position-relative" id="bambocraft">
		<!-- START SECTION SHOP -->
		<div class="section forum">
			<div class="container">
				<div class="row">
					<div class="col-xl-9">
						<div class="forumpost">
							<div class="wrap-ut pull-left">
								<div class="userinfo pull-left">
									<div class="avatar"> <img src="assets/images/avatar.jpg" alt="">
										<div class="status green">&nbsp;</div>
									</div>
									<div class="icons"> <img src="assets/images/icon1.jpg" alt=""> <img
											src="assets/images/icon4.jpg" alt=""> </div>
								</div>
								<div class="posttext pull-left">
									<h2><a href="forum-detail.html">10 Kids Unaware of Their Halloween Costume</a></h2>
									<p>It's one thing to subject yourself to a Halloween costume mishap because, hey,
										that's your prerogative.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="postinfo pull-left">
								<div class="comments">
									<div class="commentbg"> 560 <div class="mark"></div>
									</div>
								</div>
								<div class="views"><i class="fa fa-eye"></i> 1,568</div>
								<div class="time"><i class="fa fa-clock"></i> 24 min</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="forumpost">
							<div class="wrap-ut pull-left">
								<div class="userinfo pull-left">
									<div class="avatar"> <img src="assets/images/avatar2.jpg" alt="">
										<div class="status red">&nbsp;</div>
									</div>
									<div class="icons"> <img src="assets/images/icon3.jpg" alt=""><img
											src="assets/images/icon4.jpg" alt=""><img src="assets/images/icon5.jpg"
											alt=""><img src="assets/images/icon6.jpg" alt=""> </div>
								</div>
								<div class="posttext pull-left">
									<h2><a href="forum-detail.html">What Instagram Ads Will Look Like</a></h2>
									<p>Instagram offered a first glimpse at what its ads will look like in a blog post
										Thursday. The sample ad, which you can see below.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="postinfo pull-left">
								<div class="comments">
									<div class="commentbg"> 89 <div class="mark"></div>
									</div>
								</div>
								<div class="views"><i class="fa fa-eye"></i> 1,568</div>
								<div class="time"><i class="fa fa-clock"></i> 15 min</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="forumpost">
							<div class="wrap-ut pull-left">
								<div class="userinfo pull-left">
									<div class="avatar"> <img src="assets/images/avatar3.jpg" alt="">
										<div class="status red">&nbsp;</div>
									</div>
									<div class="icons"> <img src="assets/images/icon2.jpg" alt=""><img
											src="assets/images/icon4.jpg" alt=""> </div>
								</div>
								<div class="posttext pull-left">
									<h2><a href="forum-detail.html">The Future of Magazines Is on Tablets</a></h2>
									<p>Eric Schmidt has seen the future of magazines, and it's on the tablet. At a
										Magazine Publishers Association.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="postinfo pull-left">
								<div class="comments">
									<div class="commentbg"> 456 <div class="mark"></div>
									</div>
								</div>
								<div class="views"><i class="fa fa-eye"></i> 1,568</div>
								<div class="time"><i class="fa fa-clock"></i> 2 days</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="forumpost">
							<div class="wrap-ut pull-left">
								<div class="userinfo pull-left">
									<div class="avatar"> <img src="assets/images/avatar4.jpg" alt="">
										<div class="status yellow">&nbsp;</div>
									</div>
									<div class="icons"> <img src="assets/images/icon1.jpg" alt=""><img
											src="assets/images/icon4.jpg" alt=""><img src="assets/images/icon6.jpg"
											alt=""> </div>
								</div>
								<div class="posttext pull-left">
									<h2><a href="forum-detail.html">Pinterest Now Worth $3.8 Billion</a></h2>
									<p>Pinterest's valuation is closing in on $4 billion after its latest funding round
										of $225 million, according to a report.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="postinfo pull-left">
								<div class="comments">
									<div class="commentbg"> 78 <div class="mark"></div>
									</div>
								</div>
								<div class="views"><i class="fa fa-eye"></i> 1,568</div>
								<div class="time"><i class="fa fa-clock"></i> 24 min</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xl-3 mt-4 pt-2 mt-xl-0 pt-xl-0">
						<div class="sidebar">
							<div class="sidebarblock">
								<h3>Categories</h3>
								<div class="divline"></div>
								<div class="blocktxt">
									<ul class="cats">
										<li><a href="#">Trading for Money <span class="badge pull-right">20</span></a>
										</li>
										<li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a>
										</li>
										<li><a href="#">Misc Guns Locations <span class="badge pull-right">50</span></a>
										</li>
										<li><a href="#">Looking for Players <span class="badge pull-right">36</span></a>
										</li>
										<li><a href="#">Stupid Bugs &amp; Solves <span
													class="badge pull-right">41</span></a></li>
										<li><a href="#">Video &amp; Audio Drivers <span
													class="badge pull-right">11</span></a></li>
										<li><a href="#">2K Official Forums <span class="badge pull-right">5</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION SHOP -->


	</div>


{% endblock %}