{% extends 'base.html' %}
{% block content %}

    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1>Product Detail</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active">Product Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <div class="main_content prodetail">

        <!-- START SECTION SHOP -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                        <div class="product-image">
                            <div class="product_img_box">
                                <img id="product_img" src="assets/images/product/Marble-Fruit-Bowl-Bidasar.webp"
                                    data-zoom-image="assets/images/product/Marble-Fruit-Bowl-Bidasar.webp"
                                    alt="product_img1">
                                <a href="#" class="product_img_zoom" title="Zoom">
                                    <span class="linearicons-zoom-in"></span>
                                </a>
                            </div>
                            <div id="pr_item_gallery"
                                class="product_gallery_item slick_slider slick-initialized slick-slider"
                                data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
                                <div class="slick-list draggable">
                                    <div class="slick-track"
                                        style="opacity: 1; width: 556px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="item slick-slide slick-current slick-active" data-slick-index="0"
                                            aria-hidden="false" style="width: 129px;" tabindex="0">
                                            <a href="#" class="product_gallery_item active"
                                                data-image="assets/images/product/Marble-Fruit-Bowl-Bidasar.webp"
                                                data-zoom-image="assets/images/product/Marble-Fruit-Bowl-Bidasar.webp"
                                                tabindex="0">
                                                <img src="assets/images/product/Marble-Fruit-Bowl-Bidasar.webp"
                                                    alt="product_small_img1">
                                            </a>
                                        </div>
                                        <div class="item slick-slide slick-active" data-slick-index="1"
                                            aria-hidden="false" style="width: 129px;" tabindex="0">
                                            <a href="#" class="product_gallery_item"
                                                data-image="assets/images/product/Marble-Fruit-Bowl-Bidasar-1.webp"
                                                data-zoom-image="assets/images/product/Marble-Fruit-Bowl-Bidasar-1.webp"
                                                tabindex="0">
                                                <img src="assets/images/product/Marble-Fruit-Bowl-Bidasar-1.webp"
                                                    alt="product_small_img2">
                                            </a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pr_detail">
                            <div class="product_description">
                                <h4 class="product_title"><a href="#">Marble Fruit Bowl Bidasar</a></h4>
                                <div class="product_price">
                                    <span class="price">₹45.00</span>
                                    <del>₹55.25</del>
                                    <div class="on_sale">
                                        <span>35% Off</span>
                                    </div>
                                </div>
                                <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <span class="rating_num">(21)</span>
                                </div>
                                <div class="pr_desc">
                                    <p>Store your delicious fruits in this one-of-a-kind Marble Fruit Bowl Bidasar from
                                        Handicraft Bazaar. Made from beautiful rainforest brown marble, this bowl adds a
                                        touch of nature and elegance to your kitchen. Keep your fruits fresh and display
                                        them in style!</p>
                                </div>
                                <div class="product_sort_info">
                                    <ul>
                                        <li><i class="linearicons-shield-check"></i> 1 Year AL Jazeera Brand Warranty
                                        </li>
                                        <li><i class="linearicons-sync"></i> 30 Day Return Policy</li>
                                        <li><i class="linearicons-bag-dollar"></i> Cash on Delivery available</li>
                                    </ul>
                                </div>
                                <div class="pr_switch_wrap">
                                    <span class="switch_lable">Color</span>
                                    <div class="product_color_switch">
                                        <span class="active" data-color="#87554B"
                                            style="background-color: rgb(135, 85, 75);"></span>
                                        <span data-color="#333333" style="background-color: rgb(51, 51, 51);"></span>
                                        <span data-color="#DA323F" style="background-color: rgb(218, 50, 63);"></span>
                                    </div>
                                </div>
                                <div class="pr_switch_wrap">
                                    <span class="switch_lable">Size</span>
                                    <div class="product_size_switch">
                                        <span>xs</span>
                                        <span>s</span>
                                        <span>m</span>
                                        <span>l</span>
                                        <span>xl</span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="cart_extra">
                                <div class="cart-product-quantity">
                                    <div class="quantity">
                                        <input type="button" value="-" class="minus">
                                        <input type="text" name="quantity" value="1" title="Qty" class="qty" size="4">
                                        <input type="button" value="+" class="plus">
                                    </div>
                                </div>
                                <div class="cart_btn">
                                    <button class="btn btn-fill-out btn-addtocart" type="button"><i
                                            class="icon-basket-loaded"></i> Add to cart</button>
                                    <a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
                                    <a class="add_wishlist" href="#"><i class="icon-heart"></i></a>
                                </div>
                            </div>
                            <hr>
                            <ul class="product-meta">
                                <li>SKU: <a href="#">BE45VGRT</a></li>
                                <li>Category: <a href="#">Stone Carving</a></li>
                                <li>Tags: <a href="#" rel="tag">printed</a> </li>
                            </ul>

                            <div class="product_share">
                                <!--<span>Share:</span>						<ul class="social_icons">							<li><a href="#"><i class="ion-social-facebook"></i></a></li>							<li><a href="#"><i class="ion-social-twitter"></i></a></li>							<li><a href="#"><i class="ion-social-twitter"></i></a></li>							<li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>						</ul>-->
                                <div class="thing">
                                    <div class="thing__content">
                                        <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;</div> <a
                                            class="thing__social thing__social--first thing__social--facebook"
                                            href="#"><i class="ion-social-facebook"></i></a> <a
                                            class="thing__social thing__social--twitter" href="#"><i
                                                class="ion-social-twitter"></i></a> <a
                                            class="thing__social thing__social--linkedin" href="#"><i
                                                class="ion-social-linkedin"></i></a> <a
                                            class="thing__social thing__social--last thing__social--google" href="#"><i
                                                class="ion-social-google"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="large_divider clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tab-style3">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                        href="#Description" role="tab" aria-controls="Description"
                                        aria-selected="true">Description</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab"
                                        href="#Additional-info" role="tab" aria-controls="Additional-info"
                                        aria-selected="false" tabindex="-1">Additional info</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews" role="tab"
                                        aria-controls="Reviews" aria-selected="false" tabindex="-1">Reviews (2)</a>
                                </li>
                            </ul>
                            <div class="tab-content shop_info_tab">
                                <div class="tab-pane fade show active" id="Description" role="tabpanel"
                                    aria-labelledby="Description-tab">
                                    <p>Store your delicious fruits in this one-of-a-kind Marble Fruit Bowl Bidasar from
                                        Handicraft Bazaar. Made from beautiful rainforest brown marble, this bowl adds a
                                        touch of nature and elegance to your kitchen. Keep your fruits fresh and display
                                        them in style!</p>
                                </div>
                                <div class="tab-pane fade" id="Additional-info" role="tabpanel"
                                    aria-labelledby="Additional-info-tab">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Capacity</td>
                                                <td>5 Kg</td>
                                            </tr>
                                            <tr>
                                                <td>Color</td>
                                                <td>Black, Brown, Red,</td>
                                            </tr>
                                            <tr>
                                                <td>Water Resistant</td>
                                                <td>Yes</td>
                                            </tr>
                                            <tr>
                                                <td>Material</td>
                                                <td>Artificial Leather</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                                    <div class="comments">
                                        <h5 class="product_tab_title">2 Review For <span>Blue Dress For Woman</span>
                                        </h5>
                                        <ul class="list_none comment_list mt-4">
                                            <li>
                                                <div class="comment_img">
                                                    <img src="assets/images/user1.jpg" alt="user1">
                                                </div>
                                                <div class="comment_block">
                                                    <div class="rating_wrap">
                                                        <div class="rating">
                                                            <div class="product_rate" style="width:80%"></div>
                                                        </div>
                                                    </div>
                                                    <p class="customer_meta">
                                                        <span class="review_author">Alea Brooks</span>
                                                        <span class="comment-date">March 5, 2018</span>
                                                    </p>
                                                    <div class="description">
                                                        <p>Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean
                                                            sollicitudin, lorem quis bibendum auctor, nisi elit
                                                            consequat ipsum, nec sagittis sem nibh id elit. Duis sed
                                                            odio sit amet nibh vulputate</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment_img">
                                                    <img src="assets/images/user2.jpg" alt="user2">
                                                </div>
                                                <div class="comment_block">
                                                    <div class="rating_wrap">
                                                        <div class="rating">
                                                            <div class="product_rate" style="width:60%"></div>
                                                        </div>
                                                    </div>
                                                    <p class="customer_meta">
                                                        <span class="review_author">Grace Wong</span>
                                                        <span class="comment-date">June 17, 2018</span>
                                                    </p>
                                                    <div class="description">
                                                        <p>It is a long established fact that a reader will be
                                                            distracted by the readable content of a page when looking at
                                                            its layout. The point of using Lorem Ipsum is that it has a
                                                            more-or-less normal distribution of letters</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review_form field_form">
                                        <h5>Add a review</h5>
                                        <form class="row mt-3">
                                            <div class="form-group col-12 mb-3">
                                                <div class="star_rating">
                                                    <span data-value="1"><i class="far fa-star"></i></span>
                                                    <span data-value="2"><i class="far fa-star"></i></span>
                                                    <span data-value="3"><i class="far fa-star"></i></span>
                                                    <span data-value="4"><i class="far fa-star"></i></span>
                                                    <span data-value="5"><i class="far fa-star"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12 mb-3">
                                                <textarea required="required" placeholder="Your review *"
                                                    class="form-control" name="message" rows="4"></textarea>
                                            </div>
                                            <div class="form-group col-md-6 mb-3">
                                                <input required="required" placeholder="Enter Name *"
                                                    class="form-control" name="name" type="text">
                                            </div>
                                            <div class="form-group col-md-6 mb-3">
                                                <input required="required" placeholder="Enter Email *"
                                                    class="form-control" name="email" type="email">
                                            </div>

                                            <div class="form-group col-12 mb-3">
                                                <button type="submit" class="btn btn-fill-out" name="submit"
                                                    value="Submit">Submit Review</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="small_divider"></div>
                        <div class="divider"></div>
                        <div class="medium_divider"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END SECTION SHOP -->
        <div class="section sugsted-pro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading_s1 text-left">
                            <h2>Inspired by your browsing history</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product">
                            <div class="product_img"> <a href="product-detail.html"> <img
                                        src="assets/images/product/BLOCK-PRINTED-HAND-BAG.png" alt="product_img1"> </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add To
                                                Cart</a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-shuffle"></i></a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-magnifier-add"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="product-detail.html">BLOCK PRINTED HAND BAG</a></h6>
                                <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                    <div class="on_sale"> <span>35% Off</span> </div>
                                </div>
                                <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <div class="thing">
                                        <div class="thing__content">
                                            <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;</div> <a
                                                class="thing__social thing__social--first thing__social--facebook"
                                                href="#"><i class="ion-social-facebook"></i></a> <a
                                                class="thing__social thing__social--twitter" href="#"><i
                                                    class="ion-social-twitter"></i></a> <a
                                                class="thing__social thing__social--linkedin" href="#"><i
                                                    class="ion-social-linkedin"></i></a> <a
                                                class="thing__social thing__social--last thing__social--google"
                                                href="#"><i class="ion-social-google"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pr_desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                        enim. Nullam id varius nunc id varius nunc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product">
                            <div class="product_img"> <a href="product-detail.html"> <img
                                        src="assets/images/product/Hancrafted-Jute-Box-Round.jpg" alt="product_img1">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add To
                                                Cart</a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-shuffle"></i></a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-magnifier-add"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="product-detail.html">Hancrafted Jute Box (Round)</a>
                                </h6>
                                <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                    <div class="on_sale"> <span>35% Off</span> </div>
                                </div>
                                <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <div class="thing">
                                        <div class="thing__content">
                                            <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;</div> <a
                                                class="thing__social thing__social--first thing__social--facebook"
                                                href="#"><i class="ion-social-facebook"></i></a> <a
                                                class="thing__social thing__social--twitter" href="#"><i
                                                    class="ion-social-twitter"></i></a> <a
                                                class="thing__social thing__social--linkedin" href="#"><i
                                                    class="ion-social-linkedin"></i></a> <a
                                                class="thing__social thing__social--last thing__social--google"
                                                href="#"><i class="ion-social-google"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pr_desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                        enim. Nullam id varius nunc id varius nunc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product">
                            <div class="product_img"> <a href="product-detail.html"> <img
                                        src="assets/images/product/Hancrafted-Jute-Ganesha-Hanging.jpg"
                                        alt="product_img1"> </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add To
                                                Cart</a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-shuffle"></i></a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-magnifier-add"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="product-detail.html">Hancrafted Jute Ganesha
                                        (Hanging)</a></h6>
                                <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                    <div class="on_sale"> <span>35% Off</span> </div>
                                </div>
                                <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <div class="thing">
                                        <div class="thing__content">
                                            <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;</div> <a
                                                class="thing__social thing__social--first thing__social--facebook"
                                                href="#"><i class="ion-social-facebook"></i></a> <a
                                                class="thing__social thing__social--twitter" href="#"><i
                                                    class="ion-social-twitter"></i></a> <a
                                                class="thing__social thing__social--linkedin" href="#"><i
                                                    class="ion-social-linkedin"></i></a> <a
                                                class="thing__social thing__social--last thing__social--google"
                                                href="#"><i class="ion-social-google"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pr_desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                        enim. Nullam id varius nunc id varius nunc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product">
                            <div class="product_img"> <a href="product-detail.html"> <img
                                        src="assets/images/product/Terracotta-Palki.jpg" alt="product_img1"> </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add To
                                                Cart</a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-shuffle"></i></a></li>
                                        <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                    class="icon-magnifier-add"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="product-detail.html">Terracotta Palki</a></h6>
                                <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                    <div class="on_sale"> <span>35% Off</span> </div>
                                </div>
                                <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <div class="thing">
                                        <div class="thing__content">
                                            <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;</div> <a
                                                class="thing__social thing__social--first thing__social--facebook"
                                                href="#"><i class="ion-social-facebook"></i></a> <a
                                                class="thing__social thing__social--twitter" href="#"><i
                                                    class="ion-social-twitter"></i></a> <a
                                                class="thing__social thing__social--linkedin" href="#"><i
                                                    class="ion-social-linkedin"></i></a> <a
                                                class="thing__social thing__social--last thing__social--google"
                                                href="#"><i class="ion-social-google"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pr_desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                        enim. Nullam id varius nunc id varius nunc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading_s1">
                            <h3>Popular products</h3>
                        </div>
                        <div id="related-prod-carousel" class="owl-carousel nav_style1 owl-theme">
                            <div class="item">
                                <div class="product">
                                    <div class="product_img"> <a href="product-detail.html"> <img
                                                src="assets/images/product/Incense-Stick-holder-Black.webp"
                                                alt="product_img1"> </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>
                                                        Add To Cart</a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-shuffle"></i></a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="product-detail.html">Stone Product</a></h6>
                                        <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                            <div class="on_sale"> <span>35% Off</span> </div>
                                        </div>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <div class="thing">
                                                <div class="thing__content">
                                                    <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;
                                                    </div> <a
                                                        class="thing__social thing__social--first thing__social--facebook"
                                                        href="#"><i class="ion-social-facebook"></i></a> <a
                                                        class="thing__social thing__social--twitter" href="#"><i
                                                            class="ion-social-twitter"></i></a> <a
                                                        class="thing__social thing__social--linkedin" href="#"><i
                                                            class="ion-social-linkedin"></i></a> <a
                                                        class="thing__social thing__social--last thing__social--google"
                                                        href="#"><i class="ion-social-google"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="product_img"> <a href="product-detail.html"> <img
                                                src="assets/images/product/Marble-Candle-Holder-Statuario.jpg"
                                                alt="product_img1"> </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>
                                                        Add To Cart</a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-shuffle"></i></a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="product-detail.html">Stone Product</a></h6>
                                        <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                            <div class="on_sale"> <span>35% Off</span> </div>
                                        </div>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <div class="thing">
                                                <div class="thing__content">
                                                    <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;
                                                    </div> <a
                                                        class="thing__social thing__social--first thing__social--facebook"
                                                        href="#"><i class="ion-social-facebook"></i></a> <a
                                                        class="thing__social thing__social--twitter" href="#"><i
                                                            class="ion-social-twitter"></i></a> <a
                                                        class="thing__social thing__social--linkedin" href="#"><i
                                                            class="ion-social-linkedin"></i></a> <a
                                                        class="thing__social thing__social--last thing__social--google"
                                                        href="#"><i class="ion-social-google"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="product_img"> <a href="product-detail.html"> <img
                                                src="assets/images/product/Marble-Tissue-Box-Statuario.png"
                                                alt="product_img1"> </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>
                                                        Add To Cart</a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-shuffle"></i></a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="product-detail.html">Stone Product</a></h6>
                                        <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                            <div class="on_sale"> <span>35% Off</span> </div>
                                        </div>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <div class="thing">
                                                <div class="thing__content">
                                                    <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;
                                                    </div> <a
                                                        class="thing__social thing__social--first thing__social--facebook"
                                                        href="#"><i class="ion-social-facebook"></i></a> <a
                                                        class="thing__social thing__social--twitter" href="#"><i
                                                            class="ion-social-twitter"></i></a> <a
                                                        class="thing__social thing__social--linkedin" href="#"><i
                                                            class="ion-social-linkedin"></i></a> <a
                                                        class="thing__social thing__social--last thing__social--google"
                                                        href="#"><i class="ion-social-google"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="product_img"> <a href="product-detail.html"> <img
                                                src="assets/images/product/Incense-Stick-holder-Black.webp"
                                                alt="product_img1"> </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>
                                                        Add To Cart</a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-shuffle"></i></a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="product-detail.html">Stone Product</a></h6>
                                        <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                            <div class="on_sale"> <span>35% Off</span> </div>
                                        </div>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <div class="thing">
                                                <div class="thing__content">
                                                    <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;
                                                    </div> <a
                                                        class="thing__social thing__social--first thing__social--facebook"
                                                        href="#"><i class="ion-social-facebook"></i></a> <a
                                                        class="thing__social thing__social--twitter" href="#"><i
                                                            class="ion-social-twitter"></i></a> <a
                                                        class="thing__social thing__social--linkedin" href="#"><i
                                                            class="ion-social-linkedin"></i></a> <a
                                                        class="thing__social thing__social--last thing__social--google"
                                                        href="#"><i class="ion-social-google"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="product_img"> <a href="product-detail.html"> <img
                                                src="assets/images/product/Marble-Urli-Shell.webp" alt="product_img1">
                                        </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>
                                                        Add To Cart</a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-shuffle"></i></a></li>
                                                <li><a href="javascript:void(0);" class="popup-ajax"><i
                                                            class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="product-detail.html">Stone Product</a></h6>
                                        <div class="product_price"> <span class="price">₹45.00</span> <del>₹55.25</del>
                                            <div class="on_sale"> <span>35% Off</span> </div>
                                        </div>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <div class="thing">
                                                <div class="thing__content">
                                                    <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;
                                                    </div> <a
                                                        class="thing__social thing__social--first thing__social--facebook"
                                                        href="#"><i class="ion-social-facebook"></i></a> <a
                                                        class="thing__social thing__social--twitter" href="#"><i
                                                            class="ion-social-twitter"></i></a> <a
                                                        class="thing__social thing__social--linkedin" href="#"><i
                                                            class="ion-social-linkedin"></i></a> <a
                                                        class="thing__social thing__social--last thing__social--google"
                                                        href="#"><i class="ion-social-google"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




{% endblock %}
